@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caveat:wght@500&display=swap');
  
  .footer-container {
    background-color: #191919;
    width: 100vw;
    overflow-x: hidden;
  }

  .footer-h2{
    padding-top: 20px;
    font-family: 'Allura', sans-serif;
    margin-bottom: 0;
  }